<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  
  <servlet>
    <servlet-name>scServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.ScServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.FileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.LoginServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.ProjectServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.VerifyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.DataServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SharedServlet</servlet-name>
    <servlet-class>cs460.webdnd.server.SharedServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>scServlet</servlet-name>
    <url-pattern>/sc/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>scServlet</servlet-name>
    <url-pattern>/web_final/sc/*</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/web_final/FileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/web_final/LoginService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/web_final/DataService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/web_final/ProjectService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/web_final/VerifyServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SharedServlet</servlet-name>
    <url-pattern>/web_final/SharedServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Web_Final.html</welcome-file>
  </welcome-file-list>

</web-app>
