.w0px {
	border-width: 0px;
}

.w1px {
	border-width: 1px;
}

.w2px {
	border-width: 2px;
}

.w3px {
	border-width: 3px;
}

.w4px {
	border-width: 4px;
}

.w5px {
	border-width: 5px;
}

.w6px {
	border-width: 6px;
}

.w7px {
	border-width: 7px;
}

.w8px {
	border-width: 8px;
}

.w9px {
	border-width: 9px;
}

.w10px {
	border-width: 10px;
}

.w11px {
	border-width: 11px;
}

.w12px {
	border-width: 12px;
}

.w13px {
	border-width: 13px;
}

.w14px {
	border-width: 14px;
}

.w15px {
	border-width: 15px;
}

.w16px {
	border-width: 16px;
}

.w17px {
	border-width: 17px;
}

.w18px {
	border-width: 18px;
}

.w19px {
	border-width: 19px;
}

.w20px {
	border-width: 20px;
}

.w21px {
	border-width: 21px;
}

.w22px {
	border-width: 22px;
}

.w23px {
	border-width: 23px;
}

.w24px {
	border-width: 24px;
}

.w25px {
	border-width: 25px;
}

.w26px {
	border-width: 26px;
}

.w27px {
	border-width: 27px;
}

.w28px {
	border-width: 28px;
}

.w29px {
	border-width: 29px;
}

.w30px {
	border-width: 30px;
}

.w31px {
	border-width: 31px;
}

.w32px {
	border-width: 32px;
}

.w33px {
	border-width: 33px;
}

.w34px {
	border-width: 34px;
}

.w35px {
	border-width: 35px;
}

.w36px {
	border-width: 36px;
}

.w37px {
	border-width: 37px;
}

.w38px {
	border-width: 38px;
}

.w39px {
	border-width: 39px;
}

.w40px {
	border-width: 40px;
}

.w41px {
	border-width: 41px;
}

.w42px {
	border-width: 42px;
}

.w43px {
	border-width: 43px;
}

.w44px {
	border-width: 44px;
}

.w45px {
	border-width: 45px;
}

.w46px {
	border-width: 46px;
}

.w47px {
	border-width: 47px;
}

.w48px {
	border-width: 48px;
}

.w49px {
	border-width: 49px;
}

.w50px {
	border-width: 50px;
}

.w51px {
	border-width: 51px;
}

.w52px {
	border-width: 52px;
}

.w53px {
	border-width: 53px;
}

.w54px {
	border-width: 54px;
}

.w55px {
	border-width: 55px;
}

.w56px {
	border-width: 56px;
}

.w57px {
	border-width: 57px;
}

.w58px {
	border-width: 58px;
}

.w59px {
	border-width: 59px;
}

.w60px {
	border-width: 60px;
}

.w61px {
	border-width: 61px;
}

.w62px {
	border-width: 62px;
}

.w63px {
	border-width: 63px;
}

.w64px {
	border-width: 64px;
}

.w65px {
	border-width: 65px;
}

.w66px {
	border-width: 66px;
}

.w67px {
	border-width: 6px;
}

.w68px {
	border-width: 68px;
}

.w69px {
	border-width: 69px;
}

.w70px {
	border-width: 70px;
}

.w71px {
	border-width: 71px;
}

.w72px {
	border-width: 72px;
}

.w73px {
	border-width: 73px;
}

.w74px {
	border-width: 74px;
}

.w75px {
	border-width: 75px;
}

.w76px {
	border-width: 76px;
}

.w77px {
	border-width: 77px;
}

.w78px {
	border-width: 78px;
}

.w79px {
	border-width: 79px;
}

.w80px {
	border-width: 80px;
}

.w81px {
	border-width: 81px;
}

.w82px {
	border-width: 82px;
}

.w83px {
	border-width: 83px;
}

.w84px {
	border-width: 84px;
}

.w85px {
	border-width: 85px;
}

.w86px {
	border-width: 86px;
}

.w87px {
	border-width: 87px;
}

.w88px {
	border-width: 88px;
}

.w89px {
	border-width: 89px;
}

.w90px {
	border-width: 90px;
}

.w91px {
	border-width: 91px;
}

.w92px {
	border-width: 92px;
}

.w93px {
	border-width: 93px;
}

.w94px {
	border-width: 94px;
}

.w95px {
	border-width: 95px;
}

.w96px {
	border-width: 96px;
}

.w97px {
	border-width: 97px;
}

.w98px {
	border-width: 98px;
}

.w99px {
	border-width: 99px;
}

.w100px {
	border-width: 100px;
}