.full-none {
	border-style: none;
}

.full-hidden {
	border-style: hidden;
}

.full-dotted {
	border-style: dotted;
}

.full-dashed {
	border-style: dashed;
}

.full-solid {
	border-style: solid;
}

.full-double {
	border-style: double;
}

.full-groove {
	border-style: groove;
}

.full-ridge {
	border-style: ridge;
}

.full-inset {
	border-style: inset;
}

.full-outset {
	border-style: outset;
}

.west-none {
	border-left-style: none;
}

.west-hidden {
	border-left-style: hidden;
}

.west-dotted {
	border-left-style: dotted;
}

.west-dashed {
	border-left-style: dashed;
}

.west-solid {
	border-left-style: solid;
}

.west-double {
	border-left-style: double;
}

.west-groove {
	border-left-style: groove;
}

.west-ridge {
	border-left-style: ridge;
}

.west-inset {
	border-left-style: inset;
}

.west-outset {
	border-left-style: outset;
}

.northWest-none {
	border-left-style: none;
	border-top-style: none;
}

.northWest-hidden {
	border-left-style: hidden;
	border-top-style: hidden;
}

.northWest-dotted {
	border-left-style: dotted;
	border-top-style: dotted;
}

.northWest-dashed {
	border-left-style: dashed;
	border-top-style: dashed;
}

.northWest-solid {
	border-left-style: solid;
	border-top-style: solid;
}

.northWest-double {
	border-left-style: double;
	border-top-style: double;
}

.northWest-groove {
	border-left-style: groove;
	border-top-style: groove;
}

.northWest-ridge {
	border-left-style: ridge;
	border-top-style: ridge;
}

.northWest-inset {
	border-left-style: inset;
	border-top-style: inset;
}

.northWest-outset {
	border-left-style: outset;
	border-top-style: outset;
}

.north-none {
	border-top-style: none;
}

.north-hidden {
	border-top-style: hidden;
}

.north-dotted {
	border-top-style: dotted;
}

.north-dashed {
	border-top-style: dashed;
}

.north-solid {
	border-top-style: solid;
}

.north-double {
	border-top-style: double;
}

.north-groove {
	border-top-style: groove;
}

.north-ridge {
	border-top-style: ridge;
}

.north-inset {
	border-top-style: inset;
}

.north-outset {
	border-top-style: outset;
}

.northEast-none {
	border-top-style: none;
	border-right-style: none;
}

.northEast-hidden {
	border-top-style: hidden;
	border-right-style: hidden;
}

.northEast-dotted {
	border-top-style: dotted;
	border-right-style: dotted;
}

.northEast-dashed {
	border-top-style: dashed;
	border-right-style: dashed;
}

.northEast-solid {
	border-top-style: solid;
	border-right-style: solid;
}

.northEast-double {
	border-top-style: double;
	border-right-style: double;
}

.northEast-groove {
	border-top-style: groove;
	border-right-style: groove;
}

.northEast-ridge {
	border-top-style: ridge;
	border-right-style: ridge;
}

.northEast-inset {
	border-top-style: inset;
	border-right-style: inset;
}

.northEast-outset {
	border-top-style: outset;
	border-right-style: outset;
}

.east-none {
	border-right-style: none;
}

.east-hidden {
	border-right-style: hidden;
}

.east-dotted {
	border-right-style: dotted;
}

.east-dashed {
	border-right-style: dashed;
}

.east-solid {
	border-right-style: solid;
}

.east-double {
	border-right-style: double;
}

.east-groove {
	border-right-style: groove;
}

.east-ridge {
	border-right-style: ridge;
}

.east-inset {
	border-right-style: inset;
}

.east-outset {
	border-right-style: outset;
}

.southEast-none {
	border-right-style: none;
	border-bottom-style: none;
}

.southEast-hidden {
	border-right-style: hidden;
	border-bottom-style: hidden;
}

.southEast-dotted {
	border-right-style: dotted;
	border-bottom-style: dotted;
}

.southEast-dashed {
	border-right-style: dashed;
	border-bottom-style: dashed;
}

.southEast-solid {
	border-right-style: solid;
	border-bottom-style: solid;
}

.southEast-double {
	border-right-style: double;
	border-bottom-style: double;
}

.southEast-groove {
	border-right-style: groove;
	border-bottom-style: groove;
}

.southEast-ridge {
	border-right-style: ridge;
	border-bottom-style: ridge;
}

.southEast-inset {
	border-right-style: inset;
	border-bottom-style: inset;
}

.southEast-outset {
	border-right-style: outset;
	border-bottom-style: outset;
}

.south-none {
	border-bottom-style: none;
}

.south-hidden {
	border-bottom-style: hidden;
}

.south-dotted {
	border-bottom-style: dotted;
}

.south-dashed {
	border-bottom-style: dashed;
}

.south-solid {
	border-bottom-style: solid;
}

.south-double {
	border-bottom-style: double;
}

.south-groove {
	border-bottom-style: groove;
}

.south-ridge {
	border-bottom-style: ridge;
}

.south-inset {
	border-bottom-style: inset;
}

.south-outset {
	border-bottom-style: outset;
}

.southWest-none {
	border-left-style: none;
	border-bottom-style: none;
}

.southWest-hidden {
	border-left-style: hidden;
	border-bottom-style: hidden;
}

.southWest-dotted {
	border-left-style: dotted;
	border-bottom-style: dotted;
}

.southWest-dashed {
	border-left-style: dashed;
	border-bottom-style: dashed;
}

.southWest-solid {
	border-left-style: solid;
	border-bottom-style: solid;
}

.southWest-double {
	border-left-style: double;
	border-bottom-style: double;
}

.southWest-groove {
	border-left-style: groove;
	border-bottom-style: groove;
}

.southWest-ridge {
	border-left-style: ridge;
	border-bottom-style: ridge;
}

.southWest-inset {
	border-left-style: inset;
	border-bottom-style: inset;
}

.southWest-outset {
	border-left-style: outset;
	border-bottom-style: outset;
}

.c-none {
	border-left-style: none;
	border-bottom-style: none;
	border-top-style: none;
}

.c-hidden {
	border-left-style: hidden;
	border-bottom-style: hidden;
	border-top-style: hidden;
}

.c-dotted {
	border-left-style: dotted;
	border-bottom-style: dotted;
	border-top-style: dotted;
}

.c-dashed {
	border-left-style: dashed;
	border-bottom-style: dashed;
	border-top-style: dashed;
}

.c-solid {
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
}

.c-double {
	border-left-style: double;
	border-bottom-style: double;
	border-top-style: double;
}

.c-groove {
	border-left-style: groove;
	border-bottom-style: groove;
	border-top-style: groove;
}

.c-ridge {
	border-left-style: ridge;
	border-bottom-style: ridge;
	border-top-style: ridge;
}

.c-inset {
	border-left-style: inset;
	border-bottom-style: inset;
	border-top-style: inset;
}

.c-outset {
	border-left-style: outset;
	border-bottom-style: outset;
	border-top-style: outset;
}

.reverseC-none {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
}

.reverseC-hidden {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
}

.reverseC-dotted {
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
}

.reverseC-dashed {
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
}

.reverseC-solid {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.reverseC-double {
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
}

.reverseC-groove {
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
}

.reverseC-ridge {
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
}

.reverseC-inset {
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
}

.reverseC-outset {
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
}

.arch-none {
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
}

.arch-hidden {
	border-left-style: hidden;
	border-right-style: hidden;
	border-top-style: hidden;
}

.arch-dotted {
	border-left-style: dotted;
	border-right-style: dotted;
	border-top-style: dotted;
}

.arch-dashed {
	border-left-style: dashed;
	border-right-style: dashed;
	border-top-style: dashed;
}

.arch-solid {
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
}

.arch-double {
	border-left-style: double;
	border-right-style: double;
	border-top-style: double;
}

.arch-groove {
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
}

.arch-ridge {
	border-left-style: ridge;
	border-right-style: ridge;
	border-top-style: ridge;
}

.arch-inset {
	border-left-style: inset;
	border-right-style: inset;
	border-top-style: inset;
}

.arch-outset {
	border-left-style: outset;
	border-right-style: outset;
	border-top-style: outset;
}

.u-none {
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
}

.u-hidden {
	border-left-style: hidden;
	border-bottom-style: hidden;
	border-right-style: hidden;
}

.u-dotted {
	border-left-style: dotted;
	border-bottom-style: dotted;
	border-right-style: dotted;
}

.u-dashed {
	border-left-style: dashed;
	border-bottom-style: dashed;
	border-right-style: dashed;
}

.u-solid {
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}

.u-double {
	border-left-style: double;
	border-bottom-style: double;
	border-right-style: double;
}

.u-groove {
	border-left-style: groove;
	border-bottom-style: groove;
	border-right-style: groove;
}

.u-ridge {
	border-left-style: ridge;
	border-bottom-style: ridge;
	border-right-style: ridge;
}

.u-inset {
	border-left-style: inset;
	border-bottom-style: inset;
	border-right-style: inset;
}

.u-outset {
	border-left-style: outset;
	border-bottom-style: outset;
	border-right-style: outset;
}

.leftRight-none {
	border-left-style: none;
	border-right-style: none;
}

.leftRight-hidden {
	border-left-style: hidden;
	border-right-style: hidden;
}

.leftRight-dotted {
	border-left-style: dotted;
	border-right-style: dotted;
}

.leftRight-dashed {
	border-left-style: dashed;
	border-right-style: dashed;
}

.leftRight-solid {
	border-left-style: solid;
	border-right-style: solid;
}

.leftRight-double {
	border-left-style: double;
	border-right-style: double;
}

.leftRight-groove {
	border-left-style: groove;
	border-right-style: groove;
}

.leftRight-ridge {
	border-left-style: ridge;
	border-right-style: ridge;
}

.leftRight-inset {
	border-left-style: inset;
	border-right-style: inset;
}

.leftRight-outset {
	border-left-style: outset;
	border-right-style: outset;
}

.topBottom-none {
	border-top-style: none;
	border-bottom-style: none;
}

.topBottom-hidden {
	border-top-style: hidden;
	border-bottom-style: hidden;
}

.topBottom-dotted {
	border-top-style: dotted;
	border-bottom-style: dotted;
}

.topBottom-dashed {
	border-top-style: dashed;
	border-bottom-style: dashed;
}

.topBottom-solid {
	border-top-style: solid;
	border-bottom-style: solid;
}

.topBottom-double {
	border-top-style: double;
	border-bottom-style: double;
}

.topBottom-groove {
	border-top-style: groove;
	border-bottom-style: groove;
}

.topBottom-ridge {
	border-top-style: ridge;
	border-bottom-style: ridge;
}

.topBottom-inset {
	border-top-style: inset;
	border-bottom-style: inset;
}

.topBottom-outset {
	border-top-style: outset;
	border-bottom-style: outset;
}