.bcAliceBlue {
	border-color: #F0F8FF;
}

.bcAntiqueWhite {
	border-color: #FAEBD7;
}

.bcAqua {
	border-color: #00FFFF;
}

.bcAquamarine {
	border-color: #7FFFD4;
}

.bcAzure {
	border-color: #F0FFFF;
}

.bcBeige {
	border-color: #F5F5DC;
}

.bcBisque {
	border-color: #FFE4C4;
}

.bcBlack {
	border-color: #000000;
}

.bcBlanchedAlmond {
	border-color: #FFEBCD;
}

.bcBlue {
	border-color: #0000FF;
}

.bcBlueViolet {
	border-color: #8A2BE2;
}

.bcBrown {
	border-color: #A52A2A;
}

.bcBurlyWood {
	border-color: #DEB887;
}

.bcCadetBlue {
	border-color: #5F9EA0;
}

.bcChartreuse {
	border-color: #7FFF00;
}

.bcChocolate {
	border-color: #D2691E;
}

.bcCoral {
	border-color: #FF7F50;
}

.bcCornflowerBlue {
	border-color: #6495ED;
}

.bcCornsilk {
	border-color: #FFF8DC;
}

.bcCrimson {
	border-color: #DC143C;
}

.bcCyan {
	border-color: #00FFFF;
}

.bcDarkBlue {
	border-color: #00008B;
}

.bcDarkCyan {
	border-color: #008B8B;
}

.bcDarkGoldenRod {
	border-color: #B8860B;
}

.bcDarkGray {
	border-color: #A9A9A9;
}

.bcDarkGreen {
	border-color: #006400;
}

.bcDarkKhaki {
	border-color: #BDB76B;
}

.bcDarkMagenta {
	border-color: #8B008B;
}

.bcDarkOliveGreen {
	border-color: #556B2F;
}

.bcDarkorange {
	border-color: #FF8C00;
}

.bcDarkOrchid {
	border-color: #9932CC;
}

.bcDarkRed {
	border-color: #8B0000;
}

.bcDarkSalmon {
	border-color: #E9967A;
}

.bcDarkSeaGreen {
	border-color: #8FBC8F;
}

.bcDarkSlateBlue {
	border-color: #483D8B;
}

.bcDarkSlateGray {
	border-color: #2F4F4F;
}

.bcDarkTurquoise {
	border-color: #00CED1;
}

.bcDarkViolet {
	border-color: #9400D3;
}

.bcDeepPink {
	border-color: #FF1493;
}

.bcDeepSkyBlue {
	border-color: #00BFFF;
}

.bcDimGray {
	border-color: #696969;
}

.bcDodgerBlue {
	border-color: #1E90FF;
}

.bcFireBrick {
	border-color: #B22222;
}

.bcFloralWhite {
	border-color: #FFFAF0;
}

.bcForestGreen {
	border-color: #228B22;
}

.bcFuchsia {
	border-color: #FF00FF;
}

.bcGainsboro {
	border-color: #DCDCDC;
}

.bcGhostWhite {
	border-color: #F8F8FF;
}

.bcGold {
	border-color: #FFD700;
}

.bcGoldenRod {
	border-color: #DAA520;
}

.bcGray {
	border-color: #808080;
}

.bcGreen {
	border-color: #008000;
}

.bcGreenYellow {
	border-color: #ADFF2F;
}

.bcHoneyDew {
	border-color: #F0FFF0;
}

.bcHotPink {
	border-color: #FF69B4;
}

.bcIndianRed {
	border-color: #CD5C5C;
}

.bcIndigo {
	border-color: #4B0082;
}

.bcIvory {
	border-color: #FFFFF0;
}

.bcKhaki {
	border-color: #F0E68C;
}

.bcLavender {
	border-color: #E6E6FA;
}

.bcLavenderBlush {
	border-color: #FFF0F5;
}

.bcLawnGreen {
	border-color: #7CFC00;
}

.bcLemonChiffon {
	border-color: #FFFACD;
}

.bcLightBlue {
	border-color: #ADD8E6;
}

.bcLightCoral {
	border-color: #F08080;
}

.bcLightCyan {
	border-color: #E0FFFF;
}

.bcLightGoldenRodYellow {
	border-color: #FAFAD2;
}

.bcLightGray {
	border-color: #D3D3D3;
}

.bcLightGreen {
	border-color: #90EE90;
}

.bcLightPink {
	border-color: #FFB6C1;
}

.bcLightSalmon {
	border-color: #FFA07A;
}

.bcLightSeaGreen {
	border-color: #20B2AA;
}

.bcLightSkyBlue {
	border-color: #87CEFA;
}

.bcLightSlateGray {
	border-color: #778899;
}

.bcLightSteelBlue {
	border-color: #B0C4DE;
}

.bcLightYellow {
	border-color: #FFFFE0;
}

.bcLime {
	border-color: #00FF00;
}

.bcLimeGreen {
	border-color: #32CD32;
}

.bcLinen {
	border-color: #FAF0E6;
}

.bcMagenta {
	border-color: #FF00FF;
}

.bcMaroon {
	border-color: #800000;
}

.bcMediumAquaMarine {
	border-color: #66CDAA;
}

.bcMediumBlue {
	border-color: #0000CD;
}

.bcMediumOrchid {
	border-color: #BA55D3;
}

.bcMediumPurple {
	border-color: #9370D8;
}

.bcMediumSeaGreen {
	border-color: #3CB371;
}

.bcMediumSlateBlue {
	border-color: #7B68EE;
}

.bcMediumSpringGreen {
	border-color: #00FA9A;
}

.bcMediumTurquoise {
	border-color: #48D1CC;
}

.bcMediumVioletRed {
	border-color: #C71585;
}

.bcMidnightBlue {
	border-color: #191970;
}

.bcMintCream {
	border-color: #F5FFFA;
}

.bcMistyRose {
	border-color: #FFE4E1;
}

.bcMoccasin {
	border-color: #FFE4B5;
}

.bcNavajoWhite {
	border-color: #FFDEAD;
}

.bcNavy {
	border-color: #000080;
}

.bcOldLace {
	border-color: #FDF5E6;
}

.bcOlive {
	border-color: #808000;
}

.bcOliveDrab {
	border-color: #6B8E23;
}

.bcOrange {
	border-color: #FFA500;
}

.bcOrangeRed {
	border-color: #FF4500;
}

.bcOrchid {
	border-color: #DA70D6;
}

.bcPaleGoldenRod {
	border-color: #EEE8AA;
}

.bcPaleGreen {
	border-color: #98FB98;
}

.bcPaleTurquoise {
	border-color: #AFEEEE;
}

.bcPaleVioletRed {
	border-color: #D87093;
}

.bcPapayaWhip {
	border-color: #FFEFD5;
}

.bcPeachPuff {
	border-color: #FFDAB9;
}

.bcPeru {
	border-color: #CD853F;
}

.bcPink {
	border-color: #FFC0CB;
}

.bcPlum {
	border-color: #DDA0DD;
}

.bcPowderBlue {
	border-color: #B0E0E6;
}

.bcPurple {
	border-color: #800080;
}

.bcRed {
	border-color: #FF0000;
}

.bcRosyBrown {
	border-color: #BC8F8F;
}

.bcRoyalBlue {
	border-color: #4169E1;
}

.bcSaddleBrown {
	border-color: #8B4513;
}

.bcSalmon {
	border-color: #FA8072;
}

.bcSandyBrown {
	border-color: #F4A460;
}

.bcSeaGreen {
	border-color: #2E8B57;
}

.bcSeaShell {
	border-color: #FFF5EE;
}

.bcSienna {
	border-color: #A0522D;
}

.bcSilver {
	border-color: #C0C0C0;
}

.bcSkyBlue {
	border-color: #87CEEB;
}

.bcSlateBlue {
	border-color: #6A5ACD;
}

.bcSlateGray {
	border-color: #708090;
}

.bcSnow {
	border-color: #FFFAFA;
}

.bcSpringGreen {
	border-color: #00FF7F;
}

.bcSteelBlue {
	border-color: #4682B4;
}

.bcTan {
	border-color: #D2B48C;
}

.bcTeal {
	border-color: #008080;
}

.bcThistle {
	border-color: #D8BFD8;
}

.bcTomato {
	border-color: #FF6347;
}

.bcTurquoise {
	border-color: #40E0D0;
}

.bcViolet {
	border-color: #EE82EE;
}

.bcWheat {
	border-color: #F5DEB3;
}

.bcWhiteSmoke {
	border-color: #F5F5F5;
}

.bcYellow {
	border-color: #FFFF00;
}

.bcYellowGreen {
	border-color: #9ACD32;
}