<style type="text/css">
.BlackMamba{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.BlackMamba ul{
	background:url(http://www.cssmenumaker.com/menus/017/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.BlackMamba li{
		float:left;
		}
	.BlackMamba li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.BlackMamba li a:hover{
			background:url(http://www.cssmenumaker.com/menus/017/images/current-bg.gif) top left repeat-x;
			color:white;
			text-decoration:none;
			}
	.BlackMamba li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.BlackMamba li:hover ul{
		display:block;
		}
	.BlackMamba li li {
		display:block;
		float:none;
		width:225px;
		}
	.BlackMamba li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.BlackMamba li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.BlackMamba p{
		clear:left;
		}	
	.BlackMamba #current{
		background:url(http://www.cssmenumaker.com/menus/017/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
/************* 
* Green Bliss
**************/
.greenBliss{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.greenBliss ul{
	background:url(http://www.cssmenumaker.com/menus/022/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.greenBliss li{
		float:left;
		}
	.greenBliss li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.greenBliss li a:hover{
			background:url(http://www.cssmenumaker.com/menus/022/images/current-bg.gif) top left repeat-x;
			color:#000000;
			text-decoration:none;
			}
	.greenBliss li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.greenBliss li:hover ul{
		display:block;
		}
	.greenBliss li li {
		display:block;
		float:none;
		width:225px;
		}
	.greenBliss li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.greenBliss li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.greenBliss p{
		clear:left;
		}	
	.greenBliss #current{
		background:url(http://www.cssmenumaker.com/menus/022/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
		
/*****************
* Orange Tangerine
******************/
.orangeTangerine{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.orangeTangerine ul{
	background:url(http://www.cssmenumaker.com/menus/020/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.orangeTangerine li{
		float:left;
		}
	.orangeTangerine li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.orangeTangerine li a:hover{
			background:url(http://www.cssmenumaker.com/menus/020/images/current-bg.gif) top left repeat-x;
			color:#000000;
			text-decoration:none;
			}
	.orangeTangerine li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.orangeTangerine li:hover ul{
		display:block;
		}
	.orangeTangerine li li {
		display:block;
		float:none;
		width:225px;
		}
	.orangeTangerine li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.orangeTangerine li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.orangeTangerine p{
		clear:left;
		}	
	.orangeTangerine #current{
		background:url(http://www.cssmenumaker.com/menus/020/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
/**************
* Red robin 
**************/
.redRobin{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.redRobin ul{
	background:url(http://www.cssmenumaker.com/menus/016/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.redRobin li{
		float:left;
		}
	.redRobin li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.redRobin li a:hover{
			background:url(http://www.cssmenumaker.com/menus/016/images/current-bg.gif) top left repeat-x;
			color:#000000;
			text-decoration:none;
			}
	.redRobin li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.redRobin li:hover ul{
		display:block;
		}
	.redRobin li li {
		display:block;
		float:none;
		width:225px;
		}
	.redRobin li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.redRobin li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.redRobin p{
		clear:left;
		}	
	.redRobin #current{
		background:url(http://www.cssmenumaker.com/menus/016/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
/**************
* Gray Goose  * 
***************/
.grayGoose{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.grayGoose ul{
	background:url(http://www.cssmenumaker.com/menus/021/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.grayGoose li{
		float:left;
		}
	.grayGoose li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.grayGoose li a:hover{
			background:url(http://www.cssmenumaker.com/menus/021/images/current-bg.gif) top left repeat-x;
			color:white;
			text-decoration:none;
			}
	.grayGoose li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.grayGoose li:hover ul{
		display:block;
		}
	.grayGoose li li {
		display:block;
		float:none;
		width:225px;
		}
	.grayGoose li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.grayGoose li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.grayGoose p{
		clear:left;
		}	
	.grayGoose #current{
		background:url(http://www.cssmenumaker.com/menus/021/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
/***************
* Brown Bungaloo
****************/
.BrownBungaloo{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.BrownBungaloo ul{
	background:url(http://www.cssmenumaker.com/menus/023/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.BrownBungaloo li{
		float:left;
		}
	.BrownBungaloo li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.BrownBungaloo li a:hover{
			background:url(http://www.cssmenumaker.com/menus/023/images/current-bg.gif) top left repeat-x;
			color:white;
			text-decoration:none;
			}
	.BrownBungaloo li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.BrownBungaloo li:hover ul{
		display:block;
		}
	.BrownBungaloo li li {
		display:block;
		float:none;
		width:225px;
		}
	.BrownBungaloo li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.BrownBungaloo li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.BrownBungaloo p{
		clear:left;
		}	
	.BrownBungaloo #current{
		background:url(http://www.cssmenumaker.com/menus/023/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}

/********** 
* blue bonanza
*************/
.blueBonanza{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.blueBonanza ul{
	background:url(http://www.cssmenumaker.com/menus/055/images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.blueBonanza li{
		float:left;
		}
	.blueBonanza li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.blueBonanza li a:hover{
			background:url(http://www.cssmenumaker.com/menus/055/images/current-bg.gif) top left repeat-x;
			color:#000000;
			text-decoration:none;
			}
	.blueBonanza li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.blueBonanza li:hover ul{
		display:block;
		}
	.blueBonanza li li {
		display:block;
		float:none;
		width:225px;
		}
	.blueBonanza li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.blueBonanza li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.blueBonanza p{
		clear:left;
		}	
	.blueBonanza #current{
		background:url(http://www.cssmenumaker.com/menus/055/images/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
		
</style>
